@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marvel", sans-serif;
    font-style: normal;
}


.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}


.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}


.todo-app h2 {
    font-size: 45px;
    font-weight: 600;
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}


.add-task-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border-radius: 15px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    background-color: #292524;
    margin-top: 25px;
    margin-bottom: 25px;
}

input {
    min-width: 220px;
    height: 100%;
    /* border: 2px solid red; */
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: #292524;
    color: white;
    font-size: 18px;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
  -webkit-text-fill-color: #ffffff;
}


button {
    height: 100%;
    width: 95px;
    border: none;
    border-radius: 13px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

button:active {
  transform: scale(0.9);
}






ul li {
    list-style: none;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}


ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}


ul li.checked {
    color: #555;
    text-decoration: line-through;
}


ul li.checked::before {
    background-image: url(images/checked.png);
}


/* Cross Icon */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}
